<!--
Start Call To Action
==================================== -->
<section class="call-to-action section-sm bg-1 overly">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>Great Design & Incredible Features</h2>
				<p>Do you want to use the most modern features for a fraction of the cost? <br> Drop us a line, and let's get started!.</p>
				<a href="contact.html" class="btn btn-main">Start a project with us</a>
			</div>
		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->