<!-- Srart Contact Us
=========================================== -->
<section id="contact-us" class="contact-us section-bg">
	<div class="container">
		<div class="row">

			<div class="col-12">
				<!-- section title -->
				<div class="title text-center wow fadeIn" data-wow-duration="500ms">
					<h2>Get In <span class="color">Touch</span></h2>
					<div class="border"></div>
				</div>
				<!-- /section title -->
			</div>

			<!-- Contact Details -->
			<div class="contact-info col-lg-6 wow fadeInUp" data-wow-duration="500ms">
				<h3>Contact Details</h3>
				<p>We will respond as soon as possible. Feel free to call us, message us, or send us an email using this form. We look forward to hearing from you no matter the medium.</p>
				<div class="contact-details">
					<div class="con-info clearfix">
						<i class="tf-map-pin"></i>
						<span>Queen Anne Ave., Seattle, Washington, United States</span>
					</div>

					<div class="con-info clearfix">
						<i class="tf-ion-ios-telephone-outline"></i>
						<span>Phone: +1-206-291-7208</span>
					</div>

					<!-- <div class="con-info clearfix">
						<i class="tf-ion-ios-email-outline"></i>
						<span>Email: hello@meghna.com</span>
					</div> -->
				</div>
			</div>
			<!-- / End Contact Details -->

			<!-- Contact Form -->
			<div class="contact-form col-lg-6 mt-4 mt-lg-0 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
				<form id="contact-form" method="post" action="https://formspree.io/f/xjvzbjqa" role="form">

					<div class="form-group">
						<input type="text" placeholder="Your Name" class="form-control" name="name" id="name">
					</div>

					<div class="form-group">
						<input type="email" placeholder="Your Email" class="form-control" name="_replyto" id="email">
					</div>

					<div class="form-group">
						<input type="text" placeholder="Subject" class="form-control" name="subject" id="subject">
					</div>

					<div class="form-group">
						<textarea rows="6" placeholder="Message" class="form-control" name="message" id="message"></textarea>
					</div>

					<div id="cf-submit">
						<input type="submit" id="contact-submit" class="btn btn-transparent" value="Send">
					</div>

				</form>
			</div>
			<!-- ./End Contact Form -->

		</div> <!-- end row -->
	</div> <!-- end container -->

	<!-- Google Map -->
	<div class="google-map">
		<!-- Google Map -->
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2688.5662233165835!2d-122.35698130000002!3d47.634562700000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490151349603325%3A0x1eb04deb1991164b!2sQueen%20Anne%20Ave%20N%2C%20Seattle%2C%20WA%2C%20USA!5e0!3m2!1sen!2sth!4v1659660633713!5m2!1sen!2sth" width="600" height="450" style="border:0;
		width: 100vw!important;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
	<!-- /Google Map -->

</section> <!-- end section -->