<!-- Start Services Section
==================================== -->
<section id="services" class="bg-one section">
	<div class="container">
		<div class="row">

			<div class="col-lg-12">
				<!-- section title -->
				<div class="title text-center wow fadeIn" data-wow-duration="500ms">
					<h2>Our <span class="color">Services</span></h2>
					<div class="border"></div>
				</div>
				<!-- /section title -->
			</div>

			<!-- Single Service Item -->
			<article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms">
				<div class="service-block text-center">
					<div class="service-icon text-center">
						<i class="tf-globe"></i>
					</div>
					<h3>WordPress Theme</h3>
					<p>Pick from literally 1000's of themes on wordpress. Every one will be responsive.</p>
				</div>
			</article>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
				<div class="service-block text-center">
					<div class="service-icon text-center">
						<i class="tf-ion-laptop"></i>
					</div>
					<h3>Responsive Design</h3>
					<p>What do we mean when we say responsive? That means no matter what device you are using, the design looks pixel-perfect!</p>
				</div>
			</article>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
				<div class="service-block text-center">
					<div class="service-icon text-center">
						<i class="tf-genius"></i>
					</div>
					<h3>Media &amp; Advertisement</h3>
					<p>We create videos to advertise your service on sites like youtube, and instagram. We also use SEM (Search Engine Marketing) to direct people to your site.</p>
				</div>
			</article>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
				<div class="service-block text-center">
					<div class="service-icon text-center">
						<i class="tf-dial"></i>
					</div>
					<h3>Graphic Design</h3>
					<p>We use Adobe XD to design your logos, and mock-ups of proposal sites. Then we use those mock-ups and translate them to pixel-perfect design. Graphic design into literal graphics.</p>
				</div>
			</article>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
				<div class="service-block text-center">
					<div class="service-icon text-center">
						<i class="tf-target3"></i>
					</div>
					<h3>Apps Development</h3>
					<p>Our dev team can make just about anything. Have an idea? Let's build it together. Need a solution for your business? We got you covered with performance dashboards, data visualization, and communication platforms.</p>
				</div>
			</article>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="service-block text-center kill-margin-bottom">
					<div class="service-icon text-center">
						<i class="tf-lifesaver"></i>
					</div>
					<h3>Networking</h3>
					<p>Our cloud-based networking solutions are on the bleeding edge. Massive computing power, excellent speed no matter your location, scalable, and 100 percent secure.</p>
				</div>
			</article>
			<!-- End Single Service Item -->

		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->