<!-- Start Testimonial
=========================================== -->

<section id="testimonial" class="testimonial overly section bg-2">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<!-- testimonial wrapper -->
				<div id="testimonials" class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms">

					<!-- testimonial single -->
					<div class="item text-center">

						<!-- client photo -->
						<div class="client-thumb">
							<img src="images/woman-review.jpeg" class="img-fluid" alt="Meghna">
						</div>
						<!-- /client photo -->

						<!-- client info -->
						<div class="client-info">
							<div class="client-meta">
								<h3>Shelly Francis</h3>
								<span>Dec 26, 2020</span>
							</div>
							<div class="client-comment">
								<p>I had no idea what value my business had in the market until I hired Transformer. Since then my business has grown 10-fold. We are still growing, and I owe a ton of that to Transformer and the incredible teams working there! Wow!</p>
							</div>
						</div>
						<!-- /client info -->
					</div>
					<!-- /testimonial single -->

					<!-- testimonial single -->
					<div class="item text-center">

						<!-- client photo -->
						<div class="client-thumb">
							<img src="images/man-review.jpeg" class="img-fluid" alt="Meghna">
						</div>
						<!-- /client photo -->

						<!-- client info -->
						<div class="client-info">
							<div class="client-meta">
								<h3>William Burgess</h3>
								<span>Aug 06, 2019</span>
							</div>
							<div class="client-comment">
								<p>I hired Transformer when I thought my business wasn't going to last. My runway was running out, and they were my last chance. Here we are a year later and I've doubled my staff in order to accomodate all the orders! Can't thank you enough Transformer!</p>
							</div>
						</div>
						<!-- /client info -->
					</div>
					<!-- /testimonial single -->

					<!-- testimonial single -->
					<div class="item text-center">

						<!-- client photo -->
						<div class="client-thumb">
							<img src="images/team/client-1.jpg" class="img-fluid" alt="Meghna">
						</div>
						<!-- /client photo -->

						<!-- client info -->
						<div class="client-info">
							<div class="client-meta">
								<h3>Jonathon Andrew</h3>
								<span>Dec 26, 2018</span>
							</div>
							<div class="client-comment">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia dolorem non delectus neque,
									voluptatem accusamus atque expedita doloribus minima iusto nemo, numquam eos quia maiores harum!
									Quaerat illum beatae necessitatibus!</p>
							</div>
						</div>
						<!-- /client info -->
					</div>
					<!-- /testimonial single -->

				</div> <!-- end testimonial wrapper -->
			</div> <!-- end col lg 12 -->
		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End Section -->